<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2020 WANG-AXIS Lab. Site was adapted from <a href="https://www.allanlab.org/">Allan Lab</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  CBIS, Rensselaer Polytechnic Institute<br />
		  110 8th ST, Troy, NY, USA<br />
		  
            (<a href="https://goo.gl/maps/ZxvYNQUd2XWV9byZ6">Maps</a>, <a href="https://success.studentlife.rpi.edu/student-orientation/directions-parking-transportation">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>